# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv
.env
.env.*.local

# Sanity build output
dist/
.sanity/

# Vite + cache
.vite/
.cache/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
logs/
*.log

# OS junk
Thumbs.db

# Sanity local system folder
.sanity/

# Sanity build output
dist/